/* Footer */
.footer {
  background: url('/sfondotop.jpg') center/cover no-repeat;
  background-size: cover;
  color: #fde61e;
  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid #e6413b;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 0;
}

.footer p,
.footer a {
  position: relative;
  z-index: 1;
  margin: 5px 0;
   color:#fde61e
}

.footer a:hover {
  color: #e6413b;
  text-decoration: underline;
}

.footer p {
  animation: fadeInUp 1s ease forwards;
  color:#fde61e
}
