body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #202020;
  /* nero profondo */
  color: #fde61e;
  /* giallo brillante per testi principali */
}

h1,
h2,
h3 {
  margin: 0 0 1rem 0;
}

/* Animazione testo */
.footer p {
  animation: fadeInUp 1s ease forwards;
}

/* Animazione testo in ingresso */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}